.row {
    margin: 0;
background-color: rgb(243, 241, 241);
padding: 2% 5%;
height: 100vh;
}

.form {
    text-align: left;
}


.form__div {
    margin: 2.5% 0;
  }
  
  .form__heading {
    margin-bottom: 7%;
  }
  
  .form__input {
    width: 100%;
    height: 2.5rem;
    border: 1px solid rgb(188, 186, 186);
    border-radius: 5px;
  }
  
  .form__checkbox {
    margin-right: 0.725rem;
  }
  
  .is--grey {
    color: rgb(148, 146, 146);
  }
  
  .is--darkgrey {
    color: grey;
  }
  
  .form__label {
    font-weight: 600;
    margin-bottom: 1%;
  }
  
  .form__input.is--half {
    width: 40%;
  }
  
  .form__button {
    width: 100px;
    background-color: rgb(96, 175, 244);
    border: 1px solid rgb(33, 176, 237);
    color: white;
    height: 2.5rem;
    font-weight: 2rem;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 20px;
  }
  
  .inactive {
    background-color: grey;
    border: 1px solid grey;
  }
  
  .error__message {
    color: red;
    font-weight: 600;
    size: 1rem;
  }

  .dashboard p{
    font-size: 1.25rem;
    font-weight: 300;
  }

  .dashboard span {
      font-weight: 500;
  }